{% extends 'base.html' %} {% block title %} 医影智学平台 {% endblock %} {% block
head %}
<!-- 定义主页背景色的CSS样式 -->
<script src="../../static/js/waibu/layui.js"></script>
<script src="../../static/js/waibu/jquery.min.js"></script>
<script src="../../static/js/bootsrap/bootstrap.bundle.min.js"></script>
<script src="../../static/js/waibu/editormd.js"></script>
<script src="../../static/js/waibu/layedit.js"></script>
<script src="../../static/js/wangzhan/imageprocessing.js"></script>
<script src="../../static/build/ckeditor.js"></script>

<link href="../../static/css/waibu/layui.css" rel="stylesheet" />
<link rel="stylesheet" href="../../static/css/waibu/jquery-scrollbar.css" />
<link rel="stylesheet" href="../../static/css/wangzhan.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap.min.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-grid.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-grid.rtl.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-reboot.min.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-utilities.css" />
{% endblock %} {% block body%}
<div style="background-attachment: fixed;width: 100%;background: url(/static/images/w6.jpg) no-repeat;background-size: 100% 100%;background-attachment: fixed;height: 100%;" data-aos-easing="ease"
    data-aos-duration="2000" data-aos-delay="0">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-4">
        <div class="container">
            <a class="h1 navbar-brand" href="{{url_for('root')}}">欢迎来到医影智学平台!</a>
            <button class="navbar-light navbar-toggler collapsed btn btn-primary" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarsDefault" aria-expanded="false"
                aria-controls="navbarsDefault">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse offcanvas-collapse" id="navbarsDefault">
                <ul class="navbar-nav ml-auto align-items-lg-center">
                    <li class="nav-item">
                        <a href="{{url_for('tieba.tieba_root')}}" class="nav-link">贴吧</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('onlinetesting.onlinetesting')}}" class="nav-link">在线测试</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="false"
                            aria-expanded="false">解剖学学习</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{{url_for('deplaning.A1')}}">头骨</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deplaning.A2')}}">心脏</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deplaning.A3')}}">人体骨骼结构</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deplaning.A4')}}">肾脏</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deplaning.A5')}}">肺</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deplaning.A6')}}">盆骨</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deplaning.A7')}}">大脑</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deplaning.A8')}}">女体</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deplaning.A9')}}">造影</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="false"
                            aria-expanded="false">医学图像处理案例</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{{url_for('deeplearning.A1')}}">使用Tansformer分割三维腹部多器官</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deeplearning.A2')}}">基于U-net的CT肿瘤图像分割</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deeplearning.A3')}}">深度学习经典入门项目—手写数字识别</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="{{url_for('deeplearning.A4')}}">基于Tensorflow2.0的大脑肿瘤识别</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="{{url_for('deeplearning.A5')}}">U-Net实现肺部图像分割(pytorch)</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('imageprocessing.imageprocessing_root')}}" class="nav-link">医学图像处理基础</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="false"
                            aria-expanded="false">用户</a>
                        <ul class="dropdown-menu" style="min-width: 22px">
                            <li>
                                <a href="{{url_for('login.login')}}" class="dropdown-item">登录</a>
                            </li>
                            <li>
                                <a href="{{url_for('login.register')}}" class="dropdown-item">注册</a>
                            </li>
                            <li>
                                <a href="{{url_for('login.retrieve')}}" class="dropdown-item">找回</a>
                            </li>
                            <li>
                                <a href="/admin" class="dropdown-item">后台</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container pt-7 pb-5" style="width: 70%">
        <div style="height: 100px"></div>
        <div class="onlinetest justify-content-center">
            <div style="height: 20px"></div>
            <ul>
                <li>
                    <fieldset class="layui-elem-field layui-field-title" style="background-color: aliceblue">
                        <legend>提问</legend>
                        <textarea id="editor" lay-verify="content" class="layui-textarea" name="text"></textarea>
                    </fieldset>
                    <div style="text-align: center">
                    <a type="radio" name="btnradio" id="btnradio3" style="padding-right: 5%;">
                        <label class="btn btn-outline-success layui-btn comSub" for="btnradio3">开始</label></a>
                    </div>
                    <fieldset class="layui-elem-field layui-field-title" style="background-color: aliceblue">
                        <legend>AI回答</legend>
                        <p lay-verify="content" id="text" readonly class="layui-textarea">
                        </p>
                    </fieldset>
                </li>
                <div style="height: 100px"></div>
            </ul>
            <div style="height: 100px"></div>
        </div>
    </div>
    <div style="height: 100px"></div>
</div>
<script>
    let editor;
    ClassicEditor
        .create(document.querySelector('#editor'), {
            licenseKey: '',
            language: 'en',
            toolbar:{
                items:[]
            }
        })
        .then(newEditor => {
            editor = newEditor;
        })
        .catch(error => {
            console.error(error);
        });
    function insertStr(str, index, insertStr) {
        return str.substring(0, index) + insertStr + str.substring(index)
    }
    layui.use(['form'], function () {
        var form = layui.form;
        $(".comSub").click(function () {
            layui.use('layer', function () {
                var layer = layui.layer;
                //获取评论内容
                var text = editor.getData();
                if (text == "" || text == undefined) {
                    layer.msg("内容不能为空哦！", { icon: 0 });
                } else {
                    var temp = text.search("<img style=");
                    var temp = text.indexOf("<img style=");
                    while (temp != -1) {
                        text = insertStr(text, temp + 11, "height:200px;width:200px;");
                        temp = text.indexOf("<img style=", temp + 11);
                    }
                    var box = document.getElementById("text");
                    box.innerText="AI正在组织语言";
                    $.post(
                        "/aichart/chart",
                        { answer: text },
                        function (result) {
                            if (result.success) {
                                box.innerText=result.message;
                            }
                        }
                    );
                }
            });
        });
    });
</script>
{% endblock %}