<!-- 这个html是用来作为模板继承用的,用来减少代码的重复 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 窗口名均写在同名占位符里 -->
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-i">
    <title>{% block title %}{% endblock %}</title>
    <!-- 头部补充信息写在同名占位符里 -->
    {% block head %}{% endblock %}
</head>
<body style="background-attachment: fixed;width: 100%;background: url(/static/images/w6.jpg) no-repeat;background-size: 100% 100%;background-attachment: fixed;height: 100%;" data-aos-easing="ease"
data-aos-duration="2000" data-aos-delay="0">
    <!-- body具体实现均写在同名占位符里 -->
    {% block body %}
    {% endblock %}
</body>
</html>