{% extends 'base.html' %}
{% block title %} 登录 {% endblock %}
{% block head %}
<script src="../../static/js/waibu/jquery.min.js"></script>
<script src="../../static/js/waibu/particles.min.js"></script>
<script src="../../static/js/wangzhan/other.js"></script>

<link rel="stylesheet" href="../../static/css/wangzhan.css" />


<link rel="stylesheet" href="../../static/css/bootstart/bootstrap.min.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-grid.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-grid.rtl.css" />
{% endblock %}
{% block body %}
<div id="particles-js" style="z-index: 0;position:absolute;width: 100%;height: 830px"></div>
<div class="py-xl"
  style="background-attachment: fixed;width: 100%;background: url(/static/images/w6.jpg) no-repeat;background-size: 100% 100%;background-attachment: fixed;height: 100%;"
  data-aos-easing="ease" data-aos-duration="2000" data-aos-delay="0">
  <!--bg-size--cover 背景覆盖--><!--bg-cover 相对于他原本的位置定位--><!--py-xl 顶部底部pad-->
  <div class="container">
    <div class="col"><!--col 元素内部的每一列的列属性-->
      <div class="row justify-content-center"><!--justify-content-center 内容居中--><!--row 元素布局-->
        <div class="col-lg-4"><!--col-lg-4 元素内部的每一列布局-->
          <div class="card bg-info text-white"><!--text-white 白色纯文本--><!--bg-info 背景蓝颜色--><!--card 可扩展内部容器-->
            <div class="card-body"><!--card-body 卡片主体-->
              <h4 class="h3 text-white pt-3 pb-5">用户登录</h4><!--pt-3 顶部pad--><!--pb-5 底部pad-->
              <form action="{{url_for('login.login_captcha')}}" method="post">
                <div class="form-group"><!--form-group 下边距-->
                  <label>用户名:</label>
                  <input type="text" name="user_name" class="form-control"
                    placeholder="请输入用户名" /><!--form-control 控件设置-->
                </div>
                <div class="form-group">
                  <label>密码:</label>
                  <input type="password" name="user_passwd" placeholder="请输入密码" class="form-control" />
                </div>
                <div class="form-group">
                  <label>验证码：</label>
                  <input type="text" name="temp_password" id="input1" placeholder="请输入验证码" class="form-control" />
                </div>
                <div class="form-group">
                  <input type="text" id="checkCode" class="code form-control" style="width: 100px" />
                  <a href="#" onclick="createCode();" class="btn btn-block btn-lg bg-white mt-4">看不清楚</a>
                </div><!--bg-white 白背景--><!--mt-4 外边距--><!--btn 圆角按钮--><!--btn-lg 大按钮--><!--btn-block 块级按钮-->
                <div class="form-group">
                  <button onclick="validate();" type="submit" id="myButton" name="quedin"
                    class="btn btn-block btn-lg bg-white mt-4">登录</button>
                  <a href="{{url_for('root')}}" class="btn btn-block btn-lg bg-white mt-4">取消</a>
                  <a href="{{url_for('login.retrieve')}}" class="btn btn-block btn-lg bg-white mt-4">找回密码</a>
                </div>
                <div class="form-group">
                  {% if username_error %}
                  <p>{{ username_error }}</p>
                  {% endif %}
                  {% if password_error %}
                  <p>{{ password_error }}</p>
                  {% endif %}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  particlesJS("particles-js", {
    // 粒子的基本配置
    particles: {
      number: {
        value: 80,  // 粒子数量
        density: {
          enable: true,
          value_area: 800,  // 粒子分布密度
        },
      },
      color: {
        value: "#ffffff",  // 粒子颜色
      },
      shape: {
        type: "circle",  // 粒子形状，支持 circle（圆形）等
        stroke: {
          width: 0,
          color: "#000000",
        },
        polygon: {
          nb_sides: 5,
        },
      },
      opacity: {
        value: 0.5,  // 粒子透明度
        random: false,
        anim: {
          enable: false,
          speed: 1,
          opacity_min: 0.1,
          sync: false,
        },
      },
      size: {
        value: 3,  // 粒子大小
        random: true,
        anim: {
          enable: false,
          speed: 40,
          size_min: 0.1,
          sync: false,
        },
      },
      line_linked: {
        enable: true,
        distance: 150,  // 粒子间连线的距离
        color: "#ffffff",  // 粒子间连线的颜色
        opacity: 0.4,  // 粒子间连线的透明度
        width: 1,  // 粒子间连线的宽度
      },
      move: {
        enable: true,
        speed: 6,  // 粒子运动速度
        direction: "none",
        random: false,
        straight: false,
        out_mode: "out",
        bounce: false,
        attract: {
          enable: false,
          rotateX: 600,
          rotateY: 1200,
        },
      },
    },
    // 交互性的配置
    interactivity: {
      detect_on: "canvas",
      events: {
        onhover: {
          enable: true,
          mode: "repulse",  // 鼠标悬停效果
        },
        onclick: {
          enable: true,
          mode: "push",  // 鼠标点击效果
        },
        resize: true,
      },
      modes: {
        grab: {
          distance: 400,
          line_linked: {
            opacity: 1,
          },
        },
        bubble: {
          distance: 400,
          size: 40,
          duration: 2,
          opacity: 8,
          speed: 3,
        },
        repulse: {
          distance: 200,
          duration: 0.4,
        },
        push: {
          particles_nb: 0,
        },
        remove: {
          particles_nb: 2,
        },
      },
    },
    retina_detect: true,
  });
</script>
{% endblock %}